@model RentBook.Models.Book

@if (Model != null)
{
    <div class="container pt-5">
        <div class="col-xl-6 col-sm-8 offset-sm-1 offset-xl-3 text-center Roboto">
            <form asp-action="EditOrAdd">
                <h1><b>Edycja książki</b></h1>
                <hr />
                <div class="form-group">
                    <label><b>Nazwa</b></label>
                    <input asp-for="@Model.Name" value="@Model.Name" class="form-control d-flex justify-content-center" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label><b>Autor</b></label>
                    <input asp-for="@Model.Author" value="@Model.Author" class="form-control" />
                    <span asp-validation-for="@Model.Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label><b>Data wydania</b></label>
                    <input asp-for="@Model.ReleaseDate" value="@Model.ReleaseDate" class="form-control" />
                    <span asp-validation-for="@Model.ReleaseDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label><b>Opis</b></label>
                    <input asp-for="@Model.Description" value="@Model.Description" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="customButton p-2 pl-5 pr-5"><b>Edytuj</b></button>
                </div>
            </form>
        </div>
    </div>
}
else
{
    <div class="container pt-5">
        <div class="col-xl-6 col-sm-8 offset-sm-1 offset-xl-3 text-center Roboto">
            <form asp-action="EditOrAdd">
                <h1><b>Dodawanie nowej książki</b></h1>
                <hr />
                <div class="form-group">
                    <label><b>Nazwa</b></label>
                    <input asp-for="@Model.Name" class="form-control d-flex justify-content-center" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label><b>Autor</b></label>
                    <input asp-for="@Model.Author" class="form-control" />
                    <span asp-validation-for="@Model.Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label><b>Data wydania</b></label>
                    <input asp-for="@Model.ReleaseDate" class="form-control" />
                    <span asp-validation-for="@Model.ReleaseDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label><b>Opis</b></label>
                    <input asp-for="@Model.Description" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="customButton p-2 pl-5 pr-5"><b>Dodaj</b></button>
                </div>
            </form>
        </div>
    </div>

}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
